<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="theme-color" content="#ffffff" />
    <meta name="viewport" content="initial-scale=1" />
    <meta property="og:title" content="{{ post.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://notes.liam.rs" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/syntax.css" />
    <title>{{ post.title }} · Liam's Notebook</title>
  </head>
  <body>
    <div class="posts">
      <div class="post">
        <a href="/" class="post-end-link">Home</a>
        <span>/</span>
        <a class="post-end-link">{{ post.title }}</a>
        <a
          class="stats post-end-link"
          href="https://raw.githubusercontent.com/terror/notes/master/content/{{ post.file_stem }}.md"
          >View Raw</a
        >
        <div class="separator"></div>
        <div class="date">
          {{ post.date }}
          <div class="stats">
            <span class="stats-number">{{ post.height }}</span>
            <span class="stats-unit">cm</span>
            <span class="stats-number">{{ post.read_time }}</span>
            <span class="stats-unit">min</span>
          </div>
        </div>
        <h1>{{ post.title }}</h1>
        <div class="post-text">{{ post.content }}</div>
      </div>
    </div>
    <script src="/js/wikipedia-preview.production.js"></script>
    <script type="text/javascript">
      wikipediaPreview.init({
        root: document.querySelector('.post-text'),
        detectLinks: true,
      });
    </script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
